<div class="row">
<div class="large-12 columns">
<hr>
</div>
</div>

<div class="row">
<div class="large-4 columns">
<h3>Petar Ivacic</h3>
</div>
<div class="large-8 columns">

<h5 class="subheader">We follow common patterns for directory structure that are logical and easily maintained. Below is an explanation of each file you'll get when you create a project using our gem or download via our <a href="http://foundation.zurb.com/migration.php">customizer</a>.</h5>

</div>
</div>

<div class="row">
<div class="large-12 columns">
<hr>
</div>
</div>

<div class="row">
<div class="large-4 columns">
<h5>Tech Skills</h5>
</div>
<div class="large-8 columns">

<h5 class="subheader">We follow common patterns for directory structure that are logical and easily maintained. Below is an explanation of each file you'll get when you create a project using our gem or download via our <a href="http://foundation.zurb.com/migration.php">customizer</a>.</h5>

</div>
</div>


<div class="row">
<div class="large-12 columns">
<hr>
</div>
</div>

<div class="row">
<div class="large-4 columns">
<h3>Petar Ivacic</h3>
</div>
<div class="large-8 columns">

<h5 class="subheader">We follow common patterns for directory structure that are logical and easily maintained. Below is an explanation of each file you'll get when you create a project using our gem or download via our <a href="http://foundation.zurb.com/migration.php">customizer</a>.</h5>

</div>
</div>


<div class="row">
<div class="large-12 columns">
<hr>
</div>
</div>

<div class="row">
<div class="large-4 columns">
<h3>Petar Ivacic</h3>
</div>
<div class="large-8 columns">

<h5 class="subheader">We follow common patterns for directory structure that are logical and easily maintained. Below is an explanation of each file you'll get when you create a project using our gem or download via our <a href="http://foundation.zurb.com/migration.php">customizer</a>.</h5>

</div>
</div>






<div class="row">
<div class="large-4 columns">
<h3>Petar Ivacic</h3>
</div>
<div class="large-8 columns">

<h5 class="subheader">We follow common patterns for directory structure that are logical and easily maintained. Below is an explanation of each file you'll get when you create a project using our gem or download via our <a href="http://foundation.zurb.com/migration.php">customizer</a>.</h5>

</div>
</div>



<div class="large-8 columns">

<div class="row">
<div class="large-12 columns">
<hr>
</div>
</div>



    <h3>What comes with Foundation?</h3>
    <h5 class="subheader">We've got you covered when it comes to useful features and we've made it easy to take out what you don't need. Here's what you'll get when you create a project using our Sass version or the default CSS version:</h5>

  
</div>
</div>
  
      
  
      <div class="row">
   <div class="large-9 push-3 columns">

    <h2>About me</h2>
    <h5 class="subheader">Whether you are using Scss or CSS, we've made it easy to start a project so that you can help take over the world one responsive site at a time.</h5>
    <p>Foundation is developed in <a href="http://www.sass-lang.com">Sass</a>, which is powerful CSS pre-processor that helps you write cleaner, more organized, CSS that you can more easily maintain over time without the typical headaches of vanilla CSS. On top of our minimal styling, we've written powerful Javascript plugins that will make useful interactions easier to implement across screen sizes.</p>

    <div class="" style="font-size: 14px;">
      <p><strong>Looking for Foundation 3?</strong><br>
      We're still supporting Foundation 3 for those who don't want to take the leap into the future with us. You can view the docs, download a package or visit the Github page.</p>
      <ul class="button-group">
        <li><a class="small button secondary" style="margin-bottom: 0;" href="../download-f3.php">Download</a></li>
        <li><a class="small button secondary" style="margin-bottom: 0;" href="../old-docs/f3">Docs</a></li>
        <li><a class="small button secondary" style="margin-bottom: 0;" href="https://github.com/zurb/foundation/tree/3-2-stable">Github</a></li>
      </ul>

      <hr>

      <p><strong>Ready to Move to 4?</strong><br>
      We've got you covered with a migration guide that explains the differences.</p>

      <a class="small button secondary" href="../migration.php">Migration Guide</a>
    </div>

    <hr>



