<!-- Header and Nav -->
  <nav class="top-bar" data-options="is_hover:false">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            Petar Ivacic
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>CV/Resume</span></a></li>
    </ul>
 
    <section class="top-bar-section">
    
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>

          <li class="has-dropdown">
          <a href="#">CV/Resume</a>
          <ul class="dropdown">
            <li class="divider"></li>
            <li><a href="#" class="">About</a></li>
            <li><label>Experience</label></li>
            <li><a href="#" class="">Technology</a></li>
            <li><a href="#" class="">Entreprenuship</a></li>
            <li><a href="#" class="">Management</a></li>
            <li><a href="#">Sales</a></li>
            <li><a href="#">Leadership</a></li>
            <li class="divider"></li>
            <li><label>Education</label></li>
            <li><a href="#">BS Structural Engineering</a></li>
            <li><a href="#">BS CS + Math</a></li>
            <li class="divider"></li>
            <li><a href="#">Personality</a></li>

          </ul>
        </li>
      </ul>
    </section>
  </nav>
 
 
  <!-- End Header and Nav -->
 